* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heads {
    /* border:1px solid red; */
    width: 100vw;
    height: 4vw;
    display: flex;
    margin: auto;
    align-items: center;
    background-color: rgb(0, 156, 99);
}

.logos {
    /* border:1px solid red; */
    width: 40vw;
    height: 4vw;
    display: flex;
    align-items: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.8VW;
    font-weight: 600;
}

.facebook {
    /* border:1px solid rgb(42, 19, 130); */
    width: 20vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;

}

.white {
    /* border:1px solid red; */
    background-color: white;
    width: 100vw;
    height: 6vw;
    display: flex;
    align-items: center;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 20;
}

.insta img {
    width: 1.2vw;
    transition: all 0.1s linear;
}

.search_icons {
    /* border:1px solid green; */
    width: 84vw;
    height: 6vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.insta img:hover {
    transform: scale(1.2);
}

.home {
    /* border:1px solid blue; */
    width: 48vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.list_section ul li a {
    text-decoration: none;
    display: flex;
    font-weight: 500;
    font-size: 1.1vw;

}

.n_imgs {
    /* border:1px solid; */
    width: 10vw;
    height: 6vw;
    display: flex;
    align-items: center;
}

.n_imgs img {
    width: 10vw;
    height: 4vw;

}

.list_section ul {
    /* border:1px solid red; */
    width: 32vw;
    height: 6vw;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1vw;
    font-family: arial, sans-serif;
    justify-content: space-between;
}

.three_in_one {
    /* border:1px solid purple;  */
    width: 14vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s_icon img {
    width: 3vw;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.s_icon img:hover {
    transform: scale(1.2);
}

.s_icon2 img:hover {
    transform: scale(1.2);
}

.s_icon3 img:hover {
    transform: scale(1.2);
}

.s_icon2 img {
    width: 1.4vw;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.s_icon3 img {
    width: 2vw;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.list_section ul li a:hover {
    text-decoration: underline;
}

.list_section ul li a {
    text-decoration: none;
    display: flex;
    font-weight: 500;
    font-size: 1.1vw;
    color: black;
}

.last_box ul li:hover {
    text-decoration: underline;

}

.contact {
    /* border:1px solid red; */
    width: 84vw;
    height: 8vw;
    display: flex;
    align-items: center;
    font-size: 2.6vw;
    font-weight: 500;
    margin: auto;
    font-family: Arial, sans-serif;
}

.more {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1762166759/Home-poster13_copy_54b0e4b3-d488-4561-ac6e-766ecfd17bda_iglx1i.jpg");
    width: 100vw;
    height: 34.5vw;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20vw;
}

.become {
    /* border:1px solid red; */
    width: 100vw;
    height: 3vw;
    color: rgba(255, 255, 255, 0.723);
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1vw;
    font-family: arial;
    font-weight: 600;
}

.become1 {
    /* border:1px solid red; */
    width: 86vw;
    height: 5vw;
    color: white;
    margin: auto;
    align-items: center;
    display: flex;
    font-size: 0.8vw;
    font-family: arial;
    font-weight: 500;
}

.become3 {
    /* border:1px solid red; */
    width: 86vw;
    height: 6vw;
    color: white;
    margin: auto;
    display: flex;
    font-size: 1vw;
    font-family: arial;
    font-weight: 500;
    justify-content: space-between;
}

.become3 input {
    width: 20vw;
    height: 3vw;
    background-color: rgb(143, 103, 70);
    border: 1px solid white;
}

input[type="email"]::placeholder {
    color: white;
    padding-left: 4%;
}

input[type="text"]::placeholder {
    color: rgb(0, 0, 0);
    font-size: 1vw;
    padding-left: 4%;
}

.longs {
    /* border:1px solid red; */
    width: 100vw;
    height: 26vw;
    background-color: rgb(143, 103, 70);
    font-size: 1vw;
    font-family: Arial, sans-serif;

}

.facebook1 {
    /* border:1px solid rgb(42, 19, 130); */
    width: 6vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;

}

.last_box {
    border-top: 2px solid rgba(255, 255, 255, 0.227);
    width: 86vw;
    height: 6vw;
    margin: auto;
    align-items: center;
    display: flex;
}

.yellow {
    color: white;
    display: flex;
    font-size: 0.8vw;
    font-family: arial;
    font-weight: 500;
}

.last_box ul {
    /* border:1px solid red; */
    width: 50vw;
    display: flex;
    margin-left: 4%;
    gap: 4%;
    font-size: 0.8vw;
    font-weight: 600;
}

.last_box ul li {

    color: rgba(255, 255, 255, 0.714);
}

.boxers {
    /* border:1px solid red; */
    width: 84vw;
    height: 30vw;
    /* display: flex; */
    margin: auto;
    /* display:none; */
}

.boxers1 {
    /* border:1px solid red; */
    width: 98vw;
    height: 70vw;
    /* display: flex; */
    margin: auto;
    display: none;
}

.longer {
    /* border:1px solid rgb(38, 0, 255); */
    width: 84vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.longer1 {
    /* border:1px solid rgb(38, 0, 255); */
    width: 84vw;
    height: 10vw;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;

}

.longer308 {
    /* border:1px solid rgb(38, 0, 255); */
    width: 94vw;
    height: 24vw;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;

}

.longer2 {
    /* border:1px solid rgb(38, 0, 255); */
    width: 86.5vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 3%;
}

.longer328 {
    /* border:1px solid rgb(38, 0, 255); */
    width: 94vw;
    height: 22vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 3%;
}

.commented {
    border: 1px solid black;
    width: 91vw;
    height: 22vw;
    color: black;
    display: flex;
    padding-top: 1.5%;
    font-size: 1.6vw;
    padding-left: 3%;
    margin: auto;
    margin-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;

}

.commented:hover {
    box-shadow: 1px 1px 2px black;
}

#comment {
    display: flex;
    justify-content: start;
    background-color: aquamarine;
}

textarea::placeholder {
    color: black;
    font-size: 1.1vw;
    padding-left: 2%;
    padding-top: 1%;
}


.boxers1 .emails {
    border: 1px solid black;
    width: 40vw;
    height: 6vw;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 2%;
    font-size: 1.6vw;
    font-family: Arial, Helvetica, sans-serif;

}

.emails {
    border: 1px solid black;
    width: 40vw;
    height: 4vw;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 2%;
    font-size: 1.6vw;
    font-family: Arial, Helvetica, sans-serif;

}

.emails:hover {
    box-shadow: 1px 1px 2px black;

}

.numbers63 {
    border: 1px solid black;
    width: 92vw;
    height: 18vw;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 2%;
    font-size: 1.6vw;
    font-family: Arial, Helvetica, sans-serif;
}

.numbers {
    border: 1px solid black;
    width: 84vw;
    height: 4vw;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 2%;
    font-size: 1.6vw;
    font-family: Arial, Helvetica, sans-serif;
}

.numbers:hover {
    box-shadow: 1px 1px 2px black;
}

input[type="number"] {
    padding-left: 2%;
    font-size: 1vw;
    opacity: 1;
    color: black;
}

/* .longer::placeholder{
    color: black;
} */
.view_all {
    /* border:1px solid green; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 6%;
    width: 80vw;
    height: 7vw;
}

button {
    /* border:1px solid red; */
    background-color: black;
    width: 10vw;
    height: 3.6vw;
    color: white;
    font-size: 1.1vw;
    margin-top: 4%;
    transition: all 0.1s linear;
}

button:hover {
    transform: scale(1.03);
}

.longs1 {
    /* border:1px solid red; */
    width: 100vw;
    height: 50vw;
    background-color: rgb(143, 103, 70);
    font-size: 1vw;
    font-family: Arial, sans-serif;
    display: none;

}

.longs1 .become {
    /* border:1px solid red; */
    display: flex;
    justify-content: start;
    padding-left: 6%;
    font-size: 1.3vw;
}

.longs1 .become1 {
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    font-size: 1.3vw;
    width: 88vw;
}

.longs1 .become3 {
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.3vw;
    width: 88vw;
}

.longs1 .become3 input {
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: start;
    margin: auto;
    font-size: 1.3vw;
    width: 50vw;
    height: 5vw;
}

.longs1 .facebook1 {
    /* border:1px solid rgb(178, 18, 18); */
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 50vw;
}

.longs1 .yellow {
    /* border:1px solid rgb(178, 18, 18); */
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: start;
    width: 38vw;
    font-size: 1vw;
}

@media all and (max-width:1200px) {
    .started {
        /* border:1px solid green; */
        width: 60vw;
        height: 12vw;
        font-size: 1.4vw;
    }

    .more {
        margin-top: 58vw;
    }

    .longer2 {
        height: 30vw;
    }
}

@media all and (max-width:786px) {
    .budget {
        display: none;
    }

    .single {
        display: block;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
    }

    .list_section ul li a {
        font-size: 1.6vw;

    }

    .s_icon2 img {
        width: 2.4vw;
    }

    .s_icon img {
        width: 5.4vw;
    }

    .s_icon3 img {
        width: 3.6vw;
    }

    .n_imgs img {
        width: 14vw;
    }

    .insta img {
        width: 2.2vw;
    }

    .logos {
        font-size: 1vw;
    }

    .sept0 {
        font-size: 1.4vw;
    }

    .become {
        font-size: 1.3vw;
    }

    .become1 {
        font-size: 1.02vw;
    }

    .yellow {
        font-size: 1vw;
    }

    .last_box ul {
        font-size: 1vw;
    }

    .giftbox_in {
        width: 60vw;
        height: 22vw;
    }

    .Friendly {
        font-size: 3.2vw;
    }

    .single {
        height: vw;
    }

    .longs {
        display: none;
    }

    .longs1 {
        display: block;
    }

    .started {
        /* border:1px solid green; */
        width: 60vw;
        height: 12vw;
        font-size: 1.6vw;
    }

    .boxers {
        display: none;
    }

    .boxers1 {
        display: Block;
    }

    .more {
        margin-top: 58vw;
    }

    .view_all {
        margin-left: 3%;
    }
}

@media all and(max-width:600px) {
    .three_in_one {
        height: 1.6vw;
    }

    .budget {
        display: none;
    }

    .single {
        display: block;

    }

    .single {
        display: block;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
    }

    .list_section ul li a {
        font-size: 1.7vw;

    }

    .s_icon2 img {
        width: 2.5vw;
    }

    .s_icon img {
        width: 5.5vw;
    }

    .s_icon3 img {
        width: 3.7vw;
    }

    .n_imgs img {
        width: 14.2vw;
    }

    .insta img {
        width: 2.4vw;
    }

    .logos {
        font-size: 1.1vw;
    }

    .sept0 {
        font-size: 1.1vw;
    }

    .Diwali {
        font-size: 1.4vw;
    }

    .become {
        font-size: 1.5vw;
    }

    .become1 {
        font-size: 1.04vw;
    }

    .yellow {
        font-size: 1.1vw;
    }

    .last_box ul {
        font-size: 1.1vw;
    }

    .more {
        margin-top: 58vw;
    }
}